<!DOCTYPE html>
<html xmlns:th="http://www.thyneleaf.org">
<head>
<meta charset="UTF-8">
<title>Index</title>
</head>

<body>
	<div style="display: table; margin:auto; margin-top:200px; border: solid 1px black; width: 50%;">
		<span>Insertar Region</span>
		<br>
		<form th:action="@{/insertRegion}" th:object="${regionx}">
			<span>Nombre:</span>
			<input type="text" th:field="*{nombre}"/>
			<input type="submit" value="Enviar datos"/>
		</form>
	</div>
	<div style="display: table; margin:auto; margin-top:200px; border: solid 1px black; width: 50%;">
		<span>Insertar Entrenador</span>
		<br>
		<form th:action="@{/insertEntrenador}" th:object="${entrenadorx}">
			<span>Nombre:</span>
			<input type="text" th:field="*{nombre}"/>
			<span>Activo:</span>
			<input type="checkbox" th:field="*{active}" th:checked="${active}" />
			<input type="submit" value="Enviar datos"/>
		</form>
	</div>
	<div style="display: table; margin:auto; margin-top:200px; border: solid 1px black; width: 50%;">
		<span>Insertar Pokemon</span>
		<br>
		<form th:action="@{/insertPokemon}" th:object="${pokemonx}">
			<span>Nombre:</span>
			<input type="text" th:field="*{nombre}"/>
			<span>Region id:</span>
			<input type="text" th:field="*{region.id}"/>
			<span>Entrenador Id:</span>
			<input type="text" th:field="*{entrenador.id}"/>
			<input type="submit" value="Enviar datos"/>
		</form>
	</div>
</body>
</html>