<!DOCTYPE html>
<html xmlns:th="http://www.thyneleaf.org">
<head>
<meta charset="UTF-8">
<title>Vista Entredaor</title>
</head>

<body>
	<div style="display: table; margin:auto; margin-top:200px; border: solid 1px black; width: 50%;">
		<span>Pokemons del entrenador</span>
		<p th:text="${mensajePokemon}"></p>
		<table border="1px" style="display: table; margin:auto; margin-top:20px; width: 50%;border-collapse: collapse;">

			<th>Id</th>
			<th>Nombre</th>	
			<th>Region Id</th>
			<th>Entrenador Id</th>
			<th colspan="2">Acciones</th>
			<tbody>
				<tr th:each="pokemonx: ${listaPokemonsDeEntrenador}">
					<td th:text="${pokemonx.id}"/>
					<td th:text="${pokemonx.nombre}"/>
					<td th:text="${pokemonx.region.id}"/>
					<td th:text="${pokemonx.entrenador.id}"/>
					<td><a th:href="@{'/deletePokemonById2/'+${pokemonx.id}}">Delete</a></td>
				</tr>
			</tbody>
		
		</table>
	</div>
</body>
</html>