<!DOCTYPE html>
<html xmlns:th="http://www.thyneleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!--Region-->
	<div style="display: table; margin:auto; margin-top:200px; border: solid 1px black; width: 50%;">
		<span>Region</span>
		<p th:text="${mensajeRegion}"></p>
		<table border="1px" style="display: table; margin:auto; margin-top:20px; width: 50%;border-collapse: collapse;">
			<th>Id</th>
			<th>Nombre</th>	
			<th colspan="2">Acciones</th>
			<tbody>
				<tr th:each="regionx: ${listaRegiones}">
					<td th:text="${regionx.id}"/>
					<td th:text="${regionx.nombre}"/>
					<td><a th:href="@{'/deleteRegionById/'+${regionx.id}}">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div style="display: table; margin:auto; margin-top:200px; border: solid 1px black; width: 50%;">
		<span>Entrenador</span>
		<p th:text="${mensajeEntre}"></p>
		<table border="1px" style="display: table; margin:auto; margin-top:20px; width: 50%;border-collapse: collapse;">

			<th>Id</th>
			<th>Nombre</th>	
			<th>Activo</th>
			<th colspan="2">Acciones</th>
			<tbody>
				<tr th:each="entrenadorx: ${listaEntrenadores}">
					<td th:text="${entrenadorx.id}"/>
					<td th:text="${entrenadorx.nombre}"/>
					<td th:text="${entrenadorx.active}"/>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div style="display: table; margin:auto; margin-top:200px; border: solid 1px black; width: 50%;">
		<span>Pokemon</span>
		<p th:text="${mensajePokemon}"></p>
		<table border="1px" style="display: table; margin:auto; margin-top:20px; width: 50%;border-collapse: collapse;">

			<th>Id</th>
			<th>Nombre</th>	
			<th>Region Id</th>
			<th>Entrenador Id</th>
			<th colspan="2">Acciones</th>
			<tbody>
				<tr th:each="pokemonx: ${listaPokemons}">
					<td th:text="${pokemonx.id}"/>
					<td th:text="${pokemonx.nombre}"/>
					<td th:text="${pokemonx.region.id}"/>
					<td th:text="${pokemonx.entrenador.id}"/>
					<td><a th:href="@{'/deletePokemonById/'+${pokemonx.id}}">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>